@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f5f5f5;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 1.5rem;
}

header{
    width: 100%;
    height: 50px;
    background: #161616;
    position: fixed;
    top:0;
    z-index: 333;
}

.container{
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;

}

.navbar h1{
    text-transform: uppercase;
    color: #f5f5f5;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul a{
    font-size: 18px;
    padding: 24px 20px;
    text-transform: uppercase;
    color: #f5f5f5;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}

.navbar ul a:hover{
    color: #52bdab;
    font-size: 19px;    
}

.hero{
    max-width: 1200px;
    height: 400px;
    background: url(assets/galaxia-en-el-espacio_2560x1440_4052.webp)
    no-repeat center center / cover;
    margin: 50px auto;
}

main{
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px;
    border-radius: 24px;
    margin-top: -150px;
}

main h2{
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}

main .profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

main .profile-container .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .profile-container .profile .img-container{
    width: 100px;
    height: 100px;
    background: url(assets/Captura\ de\ pantalla\ 2021-12-29\ 173648.png)
    no-repeat center center / cover;
    border-radius: 10px;
}

main .profile-container .profile .text{
    margin: 0 10px;
    color: #5b5963;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.profile .text h3{
    text-transform: uppercase;
}

main .content p{
    color: #5b5963;
    margin: 16px 20px;
}

blockquote{
    font-size: 20px;
    padding: 30px;
    margin: 30px 0;
    line-height: 1.6;
    font-weight: 300;
    box-shadow: inset 5px 0 0 #52bdab;
    background-color: #f5f5f5;
}

.articles{
    width: 100%;
    background-color: #fff;
    margin: 50px 0;
    padding: 50px 0;
}

.articles .article-heading{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    position: relative;
}

.article-heading h5{
    font-size: 100px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    color: rgba(223, 223, 223, 0.3);
}

.article-heading h6{
    font-size: 40px;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #5b5963;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    gap: 3rem
}

.cards .card-container .img-holder{
    max-width: 100%;
    height: 250px;
    background: url(assets/bioneuroemocion.jpg) no-repeat
    center center / cover;
    position: relative;

}

.cards .card-container.two .img-holder{
    background: url(assets/FGSZmGaXEAoaO24.jpg) no-repeat
    center center / cover;
}

.cards .card-container.three .img-holder{
    background: url(assets/56f1873f1564f9d3b4c4bb2e93447aa7.jpg) no-repeat
    center center / cover;
}

.cards .card-container{
    transition: transform 0.5s ease;
    cursor: pointer;
}

.cards .card-container:hover{
    transform: translateY(-16px);
}

.cards .card-container .card-text{
    background: #f5f5f5;
    padding: 20px;
    box-shadow: 0 0 5px grey;
}

.cards .card-container .card-text h4{
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.btn{
    display: inline-block;
    text-transform: capitalize;
    color: #fff;
    padding: 3px 15px;
    font-weight: 900;
    background: #52bdab;
    border: 2px solid #222;
    transition: all 0.4s ease;
}

.btn:hover{
   
    background: #222222;
}

.articles .button{
    margin: 0 auto;
    text-align: center;
}


.articles .btn{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    padding: 5px 30px;
}

footer{
    background-color: #161616;
    padding: 20px 0;
}

.icons{
    text-align: center;
}

.icons .social i{
    font-size: 30px;
    color: grey;
    padding: 10px;
    margin-bottom: 5px;
}

.icons .social i:hover{
    color: white;
    cursor: pointer;
}

.icons .copyright p{
    font-size: 16px;
    letter-spacing: 1px;
    color:  white;    
}


